@transparent-png: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=');

//テキストに袋文字
.openfaceText(@width: 1px,@color: #fff) when (@width = 1px){
	text-shadow:0px 1px 1px @color,0px 0px 1px @color,1px 0px 1px @color,0px -1px 1px @color,-1px -1px 1px @color,-1px 0px 1px @color;
}
.openfaceText(@width: 1px,@color: #fff) when (@width = 2px){
	text-shadow:0px 2px 1px @color,0px 1px 1px @color,1px 1px 1px @color,1px 0px 1px @color,2px 0px 1px @color,1px -1px 1px @color,1px -2px 1px @color,0px -2px 1px @color,-1px -2px 1px @color,-2px -2px 1px @color,-2px -1px 1px @color,-2px 0px 1px @color,-2px 1px 1px @color,-1px 1px 1px @color;
}
.openfaceText(@width: 1px,@color: #fff) when (@width >= 3px){
	text-shadow:0px 3px 1px @color,0px 2px 1px @color,1px 2px 1px @color,2px 2px 1px @color,2px 1px 1px @color,2px 0px 1px @color,3px 0px 1px @color,2px -1px 1px @color,2px -2px 1px @color,2px -3px 1px @color,1px -3px 1px @color,0px -3px 1px @color,-1px -3px 1px @color,-2px -3px 1px @color,-3px -3px 1px @color,-3px -2px 1px @color,-3px -1px 1px @color,-3px 0px 1px @color,-3px 1px 1px @color,-3px 2px 1px @color,-2px 2px 1px @color,-1px 2px 1px @color;
}
