/* gacha-scene.less */
#gacha-scene-page{
	.screen{
		width:320px;
		height:480px;
		background-image:url("../img/bg/pipo-battlebg010.jpg");
		background-position:center bottom;
		background-size:cover;
	}
	.content{
		position:relative;
	}
	.button-holder{
		text-align:center;
		padding:@half-margin;
		position:absolute;
		top:400px;
		width:100%;
		z-index:11;
		-webkit-box-sizing: border-box;
	}
}
.asset[data-name="gacha-machine"]{
	width:300px;
	height:300px;
}
.normal-effect[data-name="gacha-capsule"]{
	width:150px;
	height:150px;
	&:not(.invoke){
		-webkit-transform:scale(0.1);
	}
	&.invoke{
		-webkit-animation-name:kf-gacha-capsule;
		-webkit-animation-duration:6*@frame;
		-webkit-animation-timing-function:linear;
		-webkit-transform:translate(0,-70px);
	}
}
@-webkit-keyframes kf-gacha-capsule{
	from{
		-webkit-transform:translate(0,0) scale(0.2);
	}
	60%{
		-webkit-transform:translate(0,60px) scale(0.6);
	}
	to{
		-webkit-transform:translate(0,-70px);
	}
}
.normal-effect[data-name="gacha-content"]{
	width:240px;
	height:240px;
	margin: 0 auto;
	background-image:-webkit-gradient(radial, center center, 0, center center, 115, from(white), color-stop(70%,white),color-stop(70%, rgba(255, 255, 160, 1)), color-stop(90%, rgba(255, 255, 160, 1)), to(rgba(255, 255, 160, 0)));
	background-position:center center;
	position:relative;
	>img{
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-60px;
		margin-top:-60px;
	}
	&:not(.invoke){
		-webkit-transform:scale(0.3);
	}
	&.invoke{
		-webkit-transform:scale(1);
		-webkit-transition-property:-webkit-transform;
		-webkit-transition-duration:8*@frame;
	}
}
.normal-effect[data-name="gacha-status-info"]{
	.monster-status{
		background-color:#FFE9DD;
		width:280px;
		min-height:40px;
		margin: 0 auto;
		padding:@half-margin;
		color:#000000;
		text-align:center;
		-webkit-transform:rotate(-2deg);
		border:2px solid #654B38;
		.monster-name{
			.fontSize(16);
			font-weight:bold;
			border-bottom:2px solid #D2B6A8;
			padding:@half-margin;
		}
		.monster-rarity{
			.fontSize(16);
			color:#F5B857;
			.textOutline(1px,#221009);
			font-weight:bold;
			border-bottom:2px solid #D2B6A8;
			padding:@half-margin;
		}
	}
	&:not(.invoke){
		-webkit-transform:scale(0.1) rotate(-5deg);
	}
	&.invoke{
		-webkit-transform:scale(1);
		-webkit-transition-property:-webkit-transform;
		-webkit-transition-duration:8*@frame;
	}
}