@import "../css-lib/lib.less";//共通ライブラリ
/* main.css */
html{
	background-color:#000000;
}
body{
	position: relative;
	background-color:#000000;
}
// ポップアップ背景色
.ui-popup-screen{
	background-color:#000000;
}
.ui-page-active{
	&.wood-frame{
		-webkit-box-shadow:0 0 0 3px #A0897F inset,0 0 0 6px #CBB8AE inset;
	}
	z-index:0;
	color:#11111;
	background-color:#FFFFFF;
	width:320px !important;
	>.content{
		padding:@base-margin;
	}
}
/* ヘッダー */
header{
	background-color:#3F3C27;
	> h1{
		height:24px;
		line-height:24px;
		text-align:center;
		.fontSize(14);
		color:#FFFFFF;
		.textOutline(1px,#000000);
		font-weight:bold;
		border-top:1px solid #765173;
	}
}
/* フッター */
.ui-page-active footer{
	width:320px !important;
	height:40px;
	color:#FFFFFF;
	position:fixed;
	left:0;
	// androidならtop合わせにして自分の長さ分marginで上に上げる。それ以外ならbottomで大丈夫っぽい
	html:not(.android) &{
		bottom:0;
	}
	html.android & {
		top:100%;
		margin-top:-40px;
	}
	>ul{
		display:-webkit-box;
		-webkit-box-shadow:0 0 2px 2px rgba(128,128,128,0.7);
		>li{
			width:1000px;
			-webkit-box-flex:1;
			text-align:center;
			height:40px;
			line-height:40px;
			background-color:#1D1109;
			border-left:2px solid #5E4A34;
			position:relative;
			&:nth-child(2n){
			}
			a{
				color:#FFFFFF;
				width:100%;
				height:100%;
				display:block;
			}
		}
	}
}
/* 標準テキストボタン */
.text-button{
	display:inline-block;
	padding:10px;
	color:#E5CF7F;
	border:2px solid #D6AE50;
	.fontSize(16);
	font-weight:bold;
	border-radius:10px;
	background-color:#000000;
	background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),color-stop(0.5,rgba(255,255,255,0.2)),color-stop(0.5,rgba(255,255,255,0)),to(rgba(255,255,255,0))),-webkit-gradient(linear,left top, right top, from(@default-button-color-end),color-stop(0.5,@default-button-color-middle),to(@default-button-color-end));
	text-align:center;
	text-shadow:1px 1px 2px #321B09;
	&.disabled{
		pointer-events:none;
		background-image:none !important;
		background-color:#999999;
	}
	&.mini{
		width:120px;
		max-width:120px;
	}
	&.quest-button{
		background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),color-stop(0.5,rgba(255,255,255,0.2)),color-stop(0.5,rgba(255,255,255,0)),to(rgba(255,255,255,0))),-webkit-gradient(linear,left top, right top, from(@quest-button-color-end),color-stop(0.5,@quest-button-color-middle),to(@quest-button-color-end));
	}
	&.fusion-button{
		background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),color-stop(0.5,rgba(255,255,255,0.2)),color-stop(0.5,rgba(255,255,255,0)),to(rgba(255,255,255,0))),-webkit-gradient(linear,left top, right top, from(@fusion-button-color-end),color-stop(0.5,@fusion-button-color-middle),to(@fusion-button-color-end));
	}
	&.gacha-button{
		background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),color-stop(0.5,rgba(255,255,255,0.2)),color-stop(0.5,rgba(255,255,255,0)),to(rgba(255,255,255,0))),-webkit-gradient(linear,left top, right top, from(@gacha-button-color-end),color-stop(0.5,@gacha-button-color-middle),to(@gacha-button-color-end));
	}
	&.battle-button{
		background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),color-stop(0.5,rgba(255,255,255,0.2)),color-stop(0.5,rgba(255,255,255,0)),to(rgba(255,255,255,0))),-webkit-gradient(linear,left top, right top, from(@battle-button-color-end),color-stop(0.5,@battle-button-color-middle),to(@battle-button-color-end));
	}
}
/* アニメシーンのホルダー */
.screen{
	position:relative;
	z-index:-1;
}
/* 画面上部ステータスエリア */
.user-status{
	position:relative;
	font-weight:bold;
	font-family: serif;
	position:relative;
	height:40px;
	background-color:#FCE7DC;
	box-shadow:0 0px 4px 2px #C5A592 inset;
	.level{
		letter-spacing:-1px;
		position:absolute;
		left:0;
		top:0;
		width:60px;
		height:40px;
		line-height:40px;
		text-align:right;
		.label{
			color:#000000;
			display:inline;
			.fontSize(14);
		}
		.value{
			display:inline;
			.fontSize(21);
			color:@bar-color;
			.textOutline(2px,#000000);
			width:100%;
		}
	}
	.exp{
		position:absolute;
		left:64px;
		top:6px;
		.bar-holder{
			width:200px;
			height:8px;
		}
		.bar{
		}
		.value{
			position:relative;
			top:-50%;
		}
	}
	.energy{
		position:absolute;
		left:64px;
		top:21px;
		.bar-holder{
			width:96px;
			height:8px;
		}
		.bar{
			background-color:#F19E9F;
		}
		.value{
			position:relative;
			top:-50%;
		}
	}
	.spirits{
		position:absolute;
		left:168px;
		top:21px;
		.bar-holder{
			width:96px;
			height:8px;
		}
		.bar{
			background-color:#F5B857;
		}
		.value{
			position:relative;
			top:-50%;
		}
	}
}
/* 標準リストビュー */
.box-list-holder{
	>li{
		margin-bottom:@half-margin;
		padding:@half-margin;
		border:2px solid #745E3D;
		&:nth-of-type(2n){
			background-color:#FFE9DD;
		}
		&:nth-of-type(2n-1){
			background-color:#FFFBEB;
		}
	}
}
/* 標準バー */
.bar-holder{
	border:2px solid @bar-border-color;
	background-color:@bar-bg-color;
	min-height:8px;
	position:relative;
	>.bar{
		background-color:@bar-color;
		position:absolute;
		left:0;
		top:0;
		height:100%;
	}
	>.value{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		display:-webkit-box;
		-webkit-box-align:center;
		-webkit-box-pack: center;
		color:#FFFFFF;
		.textOutline(1px,#000000);
	}
}
/* 標準タブ */
.tab-holder{
	>ul.tab-bar{
		display:-webkit-box;
		-webkit-box-pack:center;
		>.tab{
			-webkit-box-flex:1;
			width:1000px;
			border:2px solid #000000;
			text-align:center;
			position:relative;
			display:block;
			border-top-left-radius:10px;
			border-top-right-radius:10px;
			a{
				display:block;
				width:100%;
				height:100%;
			}
			.tab-content{
				padding:@base-margin @half-margin;
			}
		}
	}
}
// ホーム
@import "./home.less";
// 探索地域一覧
@import "./quest-region-list.less";
// 探索エリア一覧
@import "./quest-area-list.less";
// 探索地区一覧
@import "./quest-block-list.less";
// 探索画面
@import "./animation.quest.less";
// ガチャリスト
@import "./gacha-list.less";
// ガチャアニメ
@import "./animation.gacha.less";
// バトルリスト
@import "./battle-list.less";
// バトルアニメ
@import "./animation.battle.less?aa";
