//----------------------
//変数定義
//----------------------
@frame:83ms;
@default-button-color-end:#741047;
@default-button-color-middle:#A02422;
@quest-button-color-end:#791642;
@quest-button-color-middle:#A02926;
@gacha-button-color-end:#5A1C34;
@gacha-button-color-middle:#865A13;
@battle-button-color-end:#133049;
@battle-button-color-middle:#33787B;
@fusion-button-color-end:#324A0A;
@fusion-button-color-middle:#66740C;
@bar-color:#6AC6E0;
@bar-border-color:#181818;
@bar-bg-color:#767676;
@base-margin:8px;
@half-margin:@base-margin/2;

//----------------------
//エフェクト
//----------------------
// pxの基準値を言語によって変更する。指定の際はfont-size:npxの代わりに.fontSize(n)で指定する
// htmlタグのlang属性に応じて適宜定まる
.fontSize(@px){
	font-size:1px*@px;
	&:lang(en){
		font-size:0.9px*@px;
	}
}
//テキストに袋文字
.textOutline(@width: 1px,@color: #fff) when (@width = 0px){
	text-shadow:none;
}
.textOutline(@width: 1px,@color: #fff) when (@width = 1px){
	text-shadow:0px 1px 1px @color,0px 0px 1px @color,1px 0px 1px @color,0px -1px 1px @color,-1px -1px 1px @color,-1px 0px 1px @color;
}
.textOutline(@width: 1px,@color: #fff) when (@width = 2px){
	text-shadow:0px 2px 1px @color,0px 1px 1px @color,1px 1px 1px @color,1px 0px 1px @color,2px 0px 1px @color,1px -1px 1px @color,1px -2px 1px @color,0px -2px 1px @color,-1px -2px 1px @color,-2px -2px 1px @color,-2px -1px 1px @color,-2px 0px 1px @color,-2px 1px 1px @color,-1px 1px 1px @color;
}
.textOutline(@width: 1px,@color: #fff) when (@width = 3px){
	text-shadow:0px 3px 1px @color,0px 2px 1px @color,1px 2px 1px @color,2px 2px 1px @color,2px 1px 1px @color,2px 0px 1px @color,3px 0px 1px @color,2px -1px 1px @color,2px -2px 1px @color,2px -3px 1px @color,1px -3px 1px @color,0px -3px 1px @color,-1px -3px 1px @color,-2px -3px 1px @color,-3px -3px 1px @color,-3px -2px 1px @color,-3px -1px 1px @color,-3px 0px 1px @color,-3px 1px 1px @color,-3px 2px 1px @color,-2px 2px 1px @color,-1px 2px 1px @color;
}
.textOutline(@width: 1px,@color: #fff) when (@width = 4px){
	text-shadow:0px 4px 1px @color,0px 3px 1px @color,1px 3px 1px @color,2px 3px 1px @color,2px 2px 1px @color,3px 2px 1px @color,3px 1px 1px @color,3px 0px 1px @color,4px 0px 1px @color,3px -1px 1px @color,3px -2px 1px @color,3px -3px 1px @color,2px -3px 1px @color,2px -4px 1px @color,1px -4px 1px @color,0px -4px 1px @color,-1px -4px 1px @color,-2px -4px 1px @color,-3px -4px 1px @color,-3px -3px 1px @color,-4px -3px 1px @color,-4px -2px 1px @color,-4px -1px 1px @color,-4px 0px 1px @color,-4px 1px 1px @color,-4px 2px 1px @color,-3px 2px 1px @color,-3px 3px 1px @color,-2px 3px 1px @color,-1px 3px 1px @color;
}
.textOutline(@width: 1px,@color: #fff) when (@width >= 5px){
	text-shadow:0px 5px 1px @color,0px 4px 1px @color,1px 4px 1px @color,2px 4px 1px @color,3px 3px 1px @color,4px 2px 1px @color,4px 1px 1px @color,4px 0px 1px @color,5px 0px 1px @color,4px -1px 1px @color,4px -2px 1px @color,4px -3px 1px @color,3px -4px 1px @color,2px -5px 1px @color,1px -5px 1px @color,0px -5px 1px @color,-1px -5px 1px @color,-2px -5px 1px @color,-3px -5px 1px @color,-4px -4px 1px @color,-5px -3px 1px @color,-5px -2px 1px @color,-5px -1px 1px @color,-5px 0px 1px @color,-5px 1px 1px @color,-5px 2px 1px @color,-4px 3px 1px @color,-3px 4px 1px @color,-2px 4px 1px @color,-1px 4px 1px @color;
}

// テキストに袋文字その2
.openface(@width: 2px,@color: #000){
	-webkit-text-stroke-width:@width;
	-webkit-text-stroke-color:@color;
	position:relative;
	display:inline-block;
	&::after{
		content:attr(data-text);
		position:absolute;
		left:0;
		top:0;
		color:inherit;
		font-size:inherit;
		line-height:inherit;
		-webkit-text-stroke-width:0px;
	}
}

